<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Produkt dodany do koszyka</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img id="productImage" src="" alt="Product image" class="w-100">
                    </div>
                    <div class="col-sm-8">
                        <h3 id="productName"></h3>
                        Cena: <h5 id="productPrice"></h5>
                        Waga: <h5 id="productWeight"></h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" onclick="window.location.href='/Cart/Index'">Wyúwietl koszyk</button>
                <button type="button" class="btn btn-dark" onclick="window.location.href='/Cart/Checkout'">Przejdü do kasy</button>
            </div>
        </div>
    </div>
</div>
