<div class="container">
    <div class="row pt-4">
        <div class="col-md-3 col-sm-6">
            <h5>Adres:</h5>
            <ul class="list-unstyled">
                <li>46-200 Kluczbork</li>
                <li>Bora Komorowskiego 21</li>
                <li>województwo opolskie</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <h5>Pomoc</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-decoration-none text-white"
                        onclick="showRegulationAlert(); return false">Regulamin</a></li>
                <li>Nr sprzedaży bezpośredniej:</li>
                <li>16045612</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <h5>Kontakt</h5>
            <ul class="list-unstyled">
                <li>Piotr Staniul</li>
                <li>Telefon: +48 570 436 579</li>
                <li>Email: pstaniul1@gmail.com</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <h5>Media społecznościowe</h5>
            <a href="https://www.facebook.com/profile.php?id=100076473249495" class="text-white me-3 btn btn-lg"><i
                    class="bi bi-facebook"></i></a>
            <a href="#" class="text-white btn btn-lg"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>
<div class="text-center mt-2" style="font-size: 9px;">
    <p>Copyright &copy; 2023 Paweł Staniul. All rights reserved. Ver. 5.0.0. Published 28.07.2023.</p>
</div>