﻿@{
    ViewData["Title"] = "Nie znaleziono";
}


<div class="container border shadow col-lg-7 p-4">
    <h1 class="text-center">Coś poszło nie tak ...</h1>
    <p class="text-center">
        Niestety nie udało się znaleźć tego produktu. Wróć na stronę główną i spróbuj jeszcze raz.
    </p>
    <div class="text-center m-4">
        <a class="btn btn-success" asp-action="Index" asp-controller="Home">Powrót do strony głównej</a>
    </div>
</div>