@model MiodOdStaniula.Models.ProductViewModel

<link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />


<div class="row">
  <div class="col-sm-5">
    <div class="form-group">
      <p><b>Kategoria</b></p>
      <select asp-for="CategoryId" class="form-select">
        <option value="1">Miód naturalny</option>
        <option value="2">Miód samakowy</option>
        <option value="3">Zestaw miodów</option>
        <option value="4">Produkt pszczeli</option>
      </select>
    </div>
    <br />

    <div class="form-group">
      <p><b>Nazwa produktu</b></p>
      <input asp-for="Name" class="form-control" />
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
      <p><b>Cena</b></p>
      <input asp-for="Price" class="form-control" />
      <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
      <p><b>Waga</b></p>
      <input asp-for="Weight" class="form-control" />
      <span asp-validation-for="Weight" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
      <p><b>Dostępna ilość</b></p>
      <input asp-for="AmountAvailable" class="form-control" />
      <span asp-validation-for="AmountAvailable" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
      <p><b>Kolejność wyświetlania na stronie</b></p>
      <input asp-for="Priority" class="form-control" />
      <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
      <label asp-for="ProductImage">Zdjęcie produktu</label>
      <input type="file" asp-for="ProductImage" class="form-control" />
    </div>

    <br />
  </div>

  <div class="col-sm-7">
    <div class="form-group">
      <p><b>Opis produktu</b></p>
      <textarea class="form-control" asp-for="Description" rows="27"></textarea>
      <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />
  </div>
</div>
