@model IEnumerable<MiodOdStaniula.Models.Product>
<link rel="stylesheet" href="~/css/Warehouse.css" asp-append-version="true" />
@{
  ViewData["Title"] = "Magazyn";
}

<div class="container border text-center shadow p-3 my-5 bg-white rounded">
  <div class="row">
    <div class="col-9">
      <h3>Mój magazyn</h3>
    </div>
    <div class="col-3">
      <a asp-controller="AddNewProduct" asp-action="AddProduct" class="btn btn-dark">
        <i class="bi bi-plus-circle"></i> Dodaj produkt</a>
    </div>
  </div>
  <br />

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="smallScreenDisplayNone">Kategoria</th>
        <th scope="col">Nazwa produktu</th>
        <th scope="col">Cena</th>
        <th scope="col" class="smallScreenDisplayNone">Waga</th>
        <th scope="col">Dostępna ilość</th>
        <th scope="col">Edytuj</th>
        <th scope="col">Usuń</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var product in Model)
      {
        <tr>
          <td class="smallScreenDisplayNone">@product?.Category?.Name</td>
          <td>@product?.Name</td>
          <td><b>@product?.Price</b> zł</td>
          <td class="smallScreenDisplayNone"><b>@product?.Weight</b> gram</td>
          <td>
            @if (product?.AmountAvailable == 0)
            {
              <strong>brak towaru</strong>
            }
            else
            {
              <p><b>@product?.AmountAvailable</b> sztuk</p>
            }
          </td>
          <td>
            <a href="@Url.Action("Edit","EditProduct", new { id = product?.ProductId })"
              class="btn btn-secondary">EDYTUJ</a>
          </td>
          <td>
            @using (Html.BeginForm("DeleteProduct", "Delete", new
            {
              ProductId = product?.ProductId
            }, FormMethod.Post))
            {
              @Html.AntiForgeryToken()
              <button type="button" class="btn btn-danger" onclick="confirmDeleteAlert(this.form);">USUŃ</button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>