@model MiodOdStaniula.Models.ProductViewModel

<link rel="stylesheet" href="~/css/store.css" asp-append-version="true" />

@{
  ViewData["Title"] = "Edytujesz: " + Model.Name;
}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="border shadow p-3 bg-white rounded">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <input type="hidden" asp-for="ProductId" />
          @await Html.PartialAsync("_ProductFormsPartial", Model)
          <div class="col-6">
            <button type="submit" class="btn btn-primary mt-3">
              ZAPISZ ZMIANY
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>