@model IEnumerable<MiodOdStaniula.Models.Product>
<link rel="stylesheet" href="~/css/store.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Produkty";
}

<div>
    @await Html.PartialAsync("_WelcomePage")
</div>

<section class="border text-center shadow p-3 mb-5 rounded">
    <div class="text-center container py-5">
        <div class="row">
            @foreach (var product in Model.OrderBy(x => x.Priority))
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <a asp-action="Details" asp-controller="Store" asp-route-ProductId="@product.ProductId"
                       style="text-decoration:none; color:black">
                        <div class="card">
                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light">
                                <img src="~/img/@product.PhotoUrlAddress" class="w-100" />
                            </div>
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title mb-3">@product.Name</h5>
                                    <p>Kategoria: <b>@product?.Category?.Name</b></p>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Waga: <b>@product.Weight.ToString("0.##") g</b></p>
                                    </div>
                                    <div class="col-6">
                                        <p>Cena: <b>@product.Price zł</b></p>
                                    </div>
                                    @if (product.AmountAvailable == 0)
                                    {
                                        <div class="row outOfOrder">
                                            <div class="col-9">
                                                <h6>Produkt sprzedany</h6>
                                            </div>
                                            <div class="col-3">
                                                <img src="/img/outOfOrder.png" style="max-width: 40px">
                                            </div>
                                        </div>
                                    }
                                    else if (product.AmountAvailable > 0 & product.AmountAvailable < 10)
                                    {
                                        <div class="row smallAmount">
                                            <div class="col-9">
                                                <h6>Na wyczerpaniu</h6>
                                            </div>
                                            <div class="col-3">
                                                <img src="/img/smallAmount.png" style="max-width: 40px">
                                            </div>
                                        </div>
                                    }
                                    else if (product.AmountAvailable >= 10)
                                    {
                                        <div class="row available">
                                            <div class="col-9">
                                                <h6>Produkt dostępny</h6>
                                            </div>
                                            <div class="col-3">
                                                <img src="/img/available.png" style="max-width: 40px">
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</section>