@{
    ViewData["Title"] = "Miód od Staniula";
}

<div class="container border text-center shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-5">
            <img src="~/img/logo.png" class="img-fluid" alt="Responsive image" />
        </div>
        <div class="col-7">
            <img src="~/img/miody_nowe.jpeg" class="img-fluid" alt="Responsive image" />
        </div>
    </div>
</div>
