@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Miód od Staniula</h1>
    <p>Aktualna strona pod adresem - <a href="https://miododstaniula.pl">Miód od Staniula</a></p>
</div>
