@{
    ViewData["Title"] = "Miód od Staniula";
}

<div class="container border text-center shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-sm-7">
            <div>

                <h4>Pasiekę prowadzą:</h4>
                <br />
                <h3>Piotr i Wiktor Staniul</h3>
                <br />
                <p>
                    Numer weterynaryjny:
                    <br />
                    <b>16045612</b>
                </p>

                <strong>Adres:</strong>
                <p>
                    46-200 Kluczbork
                    <br />
                    Bora Komorowskiego 21
                    <br />
                    województwo opolskie
                </p>
                <p>
                    <b>Zamówienia można składać pod numerem telefonu:</b>
                </p>
                <h4>+48 570 436 579</h4>
                <p> lub mailowo:</p>
                <h5>pstaniul1@gmail.com</h5>
                <br />
            </div>
        </div>
        <div class="col-sm-5">
            <img src="~/img/miody_nowe.jpeg" class="img-fluid" alt="Responsive image" />
        </div>
    </div>
</div>
