@model List<MiodOdStaniula.Models.CartItem>
<link rel="stylesheet" href="~/css/ProductDetails.css" asp-append-version="true" />

<div class="row mt-5">
    <div class="col-sm-8">
        <h4>Koszyk</h4>
            <table class="table mt-3">
                <thead>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item?.Product?.PhotoUrlAddress" alt="@item?.Product?.Name" width="50"
                                    height="50" />
                            </td>
                            <td>@item?.Product?.Name</td>
                            <td>@item?.Quantity</td>
                            <td>@item?.Product?.Price.ToString("C2")</td>
                            <td>
                                <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                                    <input type="hidden" name="productId" value="@item?.Product?.ProductId" />
                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
    <div class="col-sm-4">
        <h4>Podsumowanie</h3>
        <p>Suma częściowa: @Model.Sum(item => item?.Product?.Price * item?.Quantity)?.ToString("C2")</h2>
        <p>Szacowany koszt wysyłki: </p>
        <hr>
        <p>Suma</p>
        <hr>
        <a href="~/Cart/Checkout" class="btn btn-lg btn-dark mt-2">Przejdź do kasy</a>
    </div>
</div>


