<link rel="stylesheet" href="~/css/Checkout.css" asp-append-version="true" />

<div class="tunel container col-md-8">
    <div class="checkout-options">
        <h2 class="text-center">Określ, jak chcesz złożyć zamówienie</h1>
        
        <div class="row mt-5">
            <div class="col-md-6 logOrRegister border-end">
                <h4>Zaloguj się do swojego konta lub zarejestruj się</h2>
                <br>
                <a href="@Url.Action("Login", "Account")" class="btn btn-dark w-100">Zaloguj się</a>
                <a href="@Url.Action("Register", "Account")" class="btn btn-dark w-100">Zarejestruj się</a>
            </div>

            <div class="col-md-6 logOrRegister">
                <h4>Zakupy jako gość</h4>
                <br>
                <br>
                <a href="@Url.Action("AddNewCustomer", "Checkout")" class="btn btn-dark w-100">Zakupy jako gość</a>
            </div>
        </div>
    </div>
</div>