.carousel-caption {
    left: 1%;
    padding: 1px;
    transform: translateX(30%);
    font-size: 4rem;
}
.welcome-carousel{
    max-width: 1600px;
    margin: auto;
}

#categories{
    margin-left: 6rem;
    padding-left: 6rem;
}

@media (max-width: 767px) {
    #categories{
        margin-left: -4rem;
    }
}