div.outOfOrder {
    color: red;
}

div.smallAmount {
    color: orange;
}

div.available {
    color: green;
}


@media (max-width: 768px) {
    div.container {
        font-size: 9px;
    }

    h5 {
        font-size: 11px;
    }
}
