
strong{
    color:red;
}

@media (max-width: 768px) {
    div.container{
        font-size: 9px;
    }
    h5 {
        font-size: 11px;
    }
}

@media (max-width: 575px) {
  .smallScreenDisplayNone{
    display: none;
  }
}