@model IEnumerable<MiodOdStaniula.Models.Product>
<link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />


@foreach (var product in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
            <a asp-action="Details" asp-controller="Products" asp-route-ProductId="@product?.ProductId"
               style="text-decoration:none; color:black">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                     data-mdb-ripple-color="light">
                    <img src="~/img/@product?.Variants?.FirstOrDefault()?.PhotoUrlAddress" loading="lazy" class="w-100" />
                </div>
            </a>
            <div class="card-body">
                <div>
                    <h5 class="card-title mb-3">@product?.Name</h5>
                    <p><b>@product?.Category?.Name</b></p>
                </div>
                <div class="row">
                    <div class="col-8">
                        <select class="form-select variant-select" data-product-id="@product?.ProductId">
                            @if (product?.Variants?.Any() == true)
                            {
                                foreach (var variant in product.Variants)
                                {
                                    <option value="@variant.PhotoUrlAddress" data-availability="@variant.AmountAvailable">
                                        @variant.Weight g - @variant.Price zł
                                    </option>

                                }
                            }
                        </select>

                    </div>
                    
                    <div class="col-4">
                        <div class="outOfOrder" id="outOfOrder-@product.ProductId">
                            <div class="col-3">
                                <img src="/img/outOfOrder.png" style="max-width: 40px">
                            </div>
                        </div>
                        <div class="smallAmount" id="smallAmount-@product.ProductId">
                            <div class="col-3">
                                <img src="/img/smallAmount.png" style="max-width: 40px">
                            </div>
                        </div>
                        <div class="available" id="available-@product.ProductId">
                            <div class="col-3">
                                <img src="/img/available.png" style="max-width: 40px">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-2">
                <i class="bi bi-cart-plus"></i> Dodaj do koszyka
            </button>
        </div>
    </div>
}
<script src="~/TypeScript/productlist.ts" asp-append-version="true"></script>
