@model MiodOdStaniula.Models.Product
<link rel="stylesheet" href="~/css/ProductDetails.css" asp-append-version="true" />

<div class="product-details p-2">
    <div class="row my-5">
        <div class="col-sm-7">
            <img src="@Model?.PhotoUrlAddress" loading="lazy" class="w-75 shadow" />
        </div>
        <div class="col-sm-5 p-4 text-center">
            <div>
                <h3>@Model?.Name</h3>
                <strong>@Model?.Category?.Name</strong>
            </div>
            <br />

            <div class="text-center">
                <h3 class="border shadow p-2 mb-3 rounded-3 w-50 mx-auto">@Model?.Price zł</h3>
                <h3 class="border shadow p-2 mb-3 rounded-3 w-50 mx-auto">@Model?.Weight g</h3>
            </div>
            <br />

            <div class="availability">
                @if (Model?.AmountAvailable == 0)
                {
                    <div class="row outOfOrder">
                        <div class="col-9">
                            <h5>Sprzedany</h5>
                        </div>
                        <div class="col-3">
                            <img src="/img/outOfOrder.png" style="max-width: 40px">
                        </div>
                    </div>
                }
                else if (Model?.AmountAvailable > 0 & Model?.AmountAvailable < 10)
                {
                    <div class="row smallAmount">
                        <div class="col-9">
                            <h5>Ograniczona ilość!</h5>
                        </div>
                        <div class="col-3">
                            <img src="/img/smallAmount.png" style="max-width: 40px">
                        </div>
                    </div>
                }
                else if (Model?.AmountAvailable >= 10)
                {
                    <div class="row available">
                        <div class="col-9">
                            <h5>Produkt dostępny!</h5>
                        </div>
                        <div class="col-3">
                            <img src="/img/available.png" style="max-width: 40px">
                        </div>
                    </div>
                }
            </div>
            <br />
            <hr />
            <div>
                <form method="post" asp-controller="Cart" asp-action="AddItemToCart">
                    <input type="hidden" name="cartId" value="@ViewData["CartId"]" />
                    <input type="hidden" name="productId" value="@Model?.ProductId" class="product-id" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="btn btn-dark btn-lg addToCartButton w-100">
                        <i class="bi bi-cart-plus"></i> Dodaj do koszyka
                    </button>
                </form>

                @if (User.Identity?.IsAuthenticated == true)
                {
                    <a href="@Url.Action("Edit","EditProduct", new { ProductId = Model?.ProductId })"
                        class="btn btn-lg btn-danger mt-4 w-100"><i class="bi bi-pen"></i> EDYTUJ</a>
                }
            </div>
        </div>
    </div>
    <div class="my-4 py-5 text-start">
        @Html.Raw(Model?.Description)
    </div>
</div>

@await Html.PartialAsync("_CartModal")


